<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" href="/css/form.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login </title>
</head>
<body>
<div class="container">
  <a th:href="@{'/'}">Home</a>
  <br />
  <h1>Please login</h1>
<hr />
<!--  DEFINING BOTH A HTML ACTION AND A THYMELEAF ACTION-->
  <form action="#" th:action="@{/login}" method="POST">

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="text" name="email" placeholder="Email"/>
    </div>

    <br />

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Password"/>
    </div>

    <button type="submit">Login!</button>
  </form>

</div>

</body>
</html>